<form class="form-horizontal" action="test">
    <fieldset>

        <!-- Form Name -->
        <legend>Form Name</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="fecha">Fecha de Reporte</label>
            <div class="col-md-4">
                <input id="fecha" name="fecha" type="text" placeholder="dd/mm/AAAA" class="form-control input-md">
                <span class="help-block">dd/mm/AAAA</span>
            </div>
        </div>

        <!-- Button (Double) -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="clientes-nacionales">Informes:</label>
            <div class="col-md-8">
                <button id="clientes-nacionales" name="informe" value="clientes-nacionales"
                    class="btn btn-primary">Clientes Nacionales</button>
                <button id="reembolsos" name="informe" value="reembolsos" class="btn btn-primary">Reembolsos por
                    cobrara</button>
            </div>
        </div>
    </fieldset>
</form>