<form class="form-horizontal" action="generate-report">
    <fieldset>

        <!-- Form Name -->
        <legend>Analisis Fuensalida y del Valles</legend>

        <div class="col-md-8">
            <img src="logo_addval.png" alt="Addval logo">
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="fecha">Fecha de Reporte</label>
            <div class="col-md-4">
                <input type="date" id="fecha" name="fecha" required>
            </div>
        </div>

        <!-- Button (Double) -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="clientes-nacionales">Informes:</label>
            <div class="col-md-8">
                <button id="clientes-nacionales" name="informe" value="clientes-nacionales"
                    class="btn btn-primary">Clientes Nacionales</button>
                <button id="reembolsos" name="informe" value="reembolsos" class="btn btn-primary">Reembolsos por cobrar</button>
            </div>
        </div>
    </fieldset>
</form>